@media screen and (max-width: 768px){
    #news-section .section-title {
        padding: 0px;
    }

    .news-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .news-box-small {
        height: 400px;
    }

    .cover-overlay-small::after {
        background: linear-gradient(0deg, var(--darkblue) 35%, var(--darkblueTrans) 70%);
    }

    /* detail */

    #news-detail {
        padding: 120px 3rem;
    }
    
    .news-text .news-image {
        height: 280px;
    }

    #news-detail .container{
        padding: 0px;
    }
    
    .cover-desc h1 {
        top: 0;
        font-size: 3rem;
        color: var(--white);
        text-align: right;
    }

    .text-desc-small h1 {
        font-size: 1.75rem;
        color: var(--white);
    }


    
}

@media screen and (max-width: 428px) {
    
    #news-detail {
        padding: 100px 1.5rem;
    }

    #news-detail .container {
        gap: 3rem;
    }

    .news-text .news-image {
        flex-direction: column;
        height: max-content;
    }

    .news-image img{
        width: 100%;
        height: 360px;
    }

    #news-detail .container{
        padding: 0px;
    }

    .cover-desc {
        gap: 0.5rem;
        padding: 0px;
        margin: 2rem;
    }
    
    .cover-desc h1 {
        top: 0;
        font-size: 1.7rem;
        color: var(--white);
        text-align: right;
    }

    .cover-desc h2 {
        font-size: 1rem;
    }

    .news-text {
        margin-bottom: 5rem;
    }

    .news-text h1{
        font-size: 1.5rem;
    }

    .news-text h2 {
        padding: 5px 1rem;
        font-size: 1rem;
    }
}